name: Build Fox RP Launcher
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Prepare Fox RP Config
        run: |
          # Создаем .env с твоим Pastebin
          echo "URL_DISTRIBUTION=https://pastebin.com/raw/rSHgfpgz" > .env
          echo "PROJECT_NAME=Fox RP" >> .env
          
          # Меняем название в Android ресурсах
          STRINGS_PATH="android/app/src/main/res/values/strings.xml"
          if [ -f "$STRINGS_PATH" ]; then
            sed -i 's/app_name">.*</app_name">Fox RP</g' $STRINGS_PATH
          fi

      - name: Install NPM Dependencies
        run: npm install --legacy-peer-deps

      - name: Build Android APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleRelease --no-daemon

      - name: Upload Finished APK
        uses: actions/upload-artifact@v4
        with:
          name: Fox-RP-Final-APK
          path: android/app/build/outputs/apk/release/*.apk
          
